body {
  color: #222;
  background: #f4f4f4;
  font: 400 14px CoreSans, Arial, sans-serif;
}

a {
  color: #222;
}

a:hover {
  text-decoration: underline;
}

ul, li {
  list-style: none;
  padding: 0;
  margin: 0;
}

input {
  padding: 10px;
  border-radius: 5px;
  margin-right: 10px;
  border: 1px solid #dddddd;
}

button {
  padding: 10px;
  border-radius: 5px;
  border: 1px solid #dddddd;
  background: transparent;
  color: #808080;
  cursor: pointer;
}

.searchButton:hover {
  color: #e7f708;
}

.search {
  width: 100%;
  position: relative;
  display: flex;
}

.searchTerm {
  width: 100%;
  margin: auto;
  border: 3px solid #f25a29;
  border-right: none;
  padding: 5px;
  height: 20px;
  border-radius: 5px 0 0 5px;
  outline: none;
  color: #f25a29;
}

.searchTerm:focus{
  color: #f25a29;
}

.searchButton {
  width: 40px;
  height: 36px;
  border: 1px solid #f25a29;
  background: #f25a29;
  text-align: center;
  color: #fff;
  border-radius: 0 5px 5px 0;
  cursor: pointer;
  font-size: 20px;
}

/*Resize the wrap to see the search bar change! */
.wrap{
  width: 30%;
  position: relative;
  left: 50%;
  transform: translate(-50%, 10%);
}

.table {
  width: 100%;
  border-collapse: collapse;
}
.table-header {
  padding: 25px 20px;
  background-color: #f25a29;
  position: relative;
  cursor: pointer;
  color: #f2fbfa;
  border-bottom: solid 3px;
}
